modules = ["php-8.2", "web"]
run = "php index.php"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "php index.php"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42079007
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"
